<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--生命周期的拓展 init destroy-->
    <bean id="springBean" class="com.mjk.spring.ioc04.entity.SpringBean" init-method="init" destroy-method="destroy">
        <property name="name" value="Gavin"/>
    </bean>
</beans>